@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item mx-auto flex dropdown">
        <div data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle border border-light border-2" style="width: 48px;"
                 alt="Avatar" />
        </div>
        <ul class="dropdown-menu" style="width:200px;">
            <li><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Thông tin tài khoản</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link btn btn-link text-dark">ĐĂNG XUẤT</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="nav-item mx-auto">
        <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">ĐĂNG NHẬP</a>
    </div>
}

