@model IEnumerable<DevBlog.Entities.Post>

<aside class="col-3 d-flex flex-column px-3 bg-white text-sm shadow-lg rounded">
    <div class="d-flex flex-column my-3">
        <h2 class="mb-4 font-monospace text-gray-500">Welcome</h2>
        <img class="mx-auto mb-4 rounded-circle" alt="manhhomienbienthuy" height="200" src="https://manhhomienbienthuy.github.io/meow.webp" width="200">
        <p class="mb-10 text-center">Đây là thế giới của manhhomienbienthuy (naa). Chào mừng đến với thế giới của tôi!</p>
    </div>
    <div class="d-flex flex-column my-3">
        <h2 class="mb-4 font-semibold text-gray-500">Bài viết mới</h2>
        <div class="mb-10 d-flex flex-column">
            @foreach (var item in Model)
            {
                <div class="d-flex align-items-center gap-2 mb-6 pt-6">

                    <a href="https://manhhomienbienthuy.github.io/2024/02/02/so-sanh-kien-truc-stateful-vs-stateless.html">
                        <img alt="So sánh: kiến trúc stateful vs stateless" class="w-100 rounded" decoding="async" height="64" loading="lazy" src="https://images.unsplash.com/photo-1484278786775-527ac0d0b608?ixlib=rb-4.0.3&amp;q=85&amp;fm=webp&amp;crop=entropy&amp;cs=srgb&amp;w=640" width="64">
                    </a>
                    <a class="text-black" href="https://manhhomienbienthuy.github.io/2024/02/02/so-sanh-kien-truc-stateful-vs-stateless.html" style="overflow: hidden">@Html.DisplayFor(modelItem => item.Title)</a>
                </div>
            }
            <!-- Các bài viết khác -->
        </div>
    </div>
    <div class="d-flex flex-column my-3">
        <h2 class="mb-4 font-semibold text-gray-500">Chuyên mục</h2>
        <div class="mb-10">
            <div class="d-flex flex-wrap gap-2 text-xs">
                <a class="btn btn-light" href="https://manhhomienbienthuy.github.io/category/cuoc-song.html"> Cuộc sống </a>
                <a class="btn btn-light" href="https://manhhomienbienthuy.github.io/category/du-lich.html"> Du lịch </a>
                <a class="btn btn-light" href="https://manhhomienbienthuy.github.io/category/lap-trinh.html"> Lập trình </a>
                <a class="btn btn-light" href="https://manhhomienbienthuy.github.io/category/tong-hop.html"> Tổng hợp </a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column my-3">
        <h2 class="mb-4 font-semibold text-gray-500">Thông tin liên hệ</h2>
        <p class="mb-8 text-justify">Cảm ơn bạn đã quan tâm blog của tôi. Nếu có bất kỳ điều gì muốn nói, bạn có thể liên hệ với tôi qua các mạng xã hội hoặc tạo discussion trên Github.</p>
        <ul class="d-flex justify-content-center mb-8 px-0">
            <li class="list-inline-item me-3">
                <a href="https://www.linkedin.com/in/nguyen-viet-hoang-087343196" class="fs-1 text-black">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item mx-0">
                <a href="https://github.com/dogIT0xx" class="fs-1 text-black" s>
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li class="list-inline-item ms-3">
                <a href="https://web.facebook.com/23122002d" class="fs-1 text-black">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</aside>
